{% extends "base.html" %}

{% block main%}
<br><br><br><br><br><br><br>
<div class="container">
	<span class="judul">Selamat datang, {{u.first_name}} - {{u.team}}</span>
<section data-bs-version="5.1" class="pricing2 cid-sFF7wKlLkT" id="pricing2-c">

{% for key, value in k.items %}
{% if key.topic == "sb" and u.team.lomba == "SB" %}
	<div class="container">
		<div class="row justify-content-center">
			<a data-bs-toggle="modal" data-bs-target="#{{key.topic}}">

				<div class="col-12 col-md-6 align-center col-lg-4">
					<div class="plan">
						<div class="plan-header">
							<h6 class="plan-title mbr-fonts-style mb-3 display-5"><strong>{{key.name}}</strong></h6>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

<div class="modal fade" id="{{key.topic}}" tabindex="-1" aria-labelledby="{{key.topic}}label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="{{key.topic}}label">{{key.name}}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Banyak pertanyaan: {{key.number_of_questions}}<br>
				Waktu: {{key.time}} Menit
				<br><br>
			{% if value == False %}
				<strong>Apakah anda yakin ingin memulai quiz?</strong>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
					<form action="" method="POST" class='form'>
						{% csrf_token %}
						<input type="number" id="quantity" name="startbutton" value="{{key.pk}}" hidden>
				<button type="button" class="btn btn-primary"  onclick='this.form.submit();'>Ya, mulai</button>
					</form>
			</div>

			{% else %}
			<div class="modal-footer">
				<strong>Anda telah menyelesaikan Quiz</strong>
			</div>
			{% endif %}
		</div> 
	</div>
</div>
</div>
{% endif %}
{% if key.topic == "semi" and u.team.lomba == "EQ" and u.team.lolos == True %}
<div class="container">
	<div class="row justify-content-center">
		<a data-bs-toggle="modal" data-bs-target="#{{key.topic}}">

			<div class="col-12 col-md-6 align-center col-lg-4">
				<div class="plan">
					<div class="plan-header">
						<h6 class="plan-title mbr-fonts-style mb-3 display-5">
							<strong>{{key.name}}</strong>
						</h6>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</section>

<div class="modal fade" id="{{key.topic}}" tabindex="-1" aria-labelledby="{{key.topic}}label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="{{key.topic}}label">{{key.name}}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Banyak pertanyaan: {{key.number_of_questions}}<br>
				Waktu: {{key.time}}
				<br><br>
				{% if value == False %}
				<strong>Apakah anda yakin ingin memulai quiz?</strong>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
									<form action="" method="POST" class='form'>
										{% csrf_token %}
										<input type="number" id="quantity" name="startbutton" value="{{key.pk}}" hidden>
										<button type="button" class="btn btn-primary" onclick='this.form.submit();'>Ya, mulai</button>
									</form>
			</div>

			{% else %}
			<div class="modal-footer">
				<strong>Anda telah menyelesaikan Quiz</strong>
			</div>
			{% endif %}
		</div>
	</div>
</div>
</div>
{% endif %}
{% if key.topic == "eq" and u.team.lomba == "EQ" %}
<div class="container">
	<div class="row justify-content-center">
		<a data-bs-toggle="modal" data-bs-target="#{{key.topic}}">

			<div class="col-12 col-md-6 align-center col-lg-4">
				<div class="plan">
					<div class="plan-header">
						<h6 class="plan-title mbr-fonts-style mb-3 display-5">
							<strong>{{key.name}}</strong></h6>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>
</section>

<div class="modal fade" id="{{key.topic}}" tabindex="-1" aria-labelledby="{{key.topic}}label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="{{key.topic}}label">{{key.name}}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Banyak pertanyaan: {{key.number_of_questions}}<br>
				Waktu: {{key.time}}
				<br><br>
				{% if value == False %}
				<strong>Apakah anda yakin ingin memulai quiz?</strong>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
									<form action="" method="POST" class='form'>
										{% csrf_token %}
										<input type="number" id="quantity" name="startbutton" value="{{key.pk}}" hidden>
										<button type="button" class="btn btn-primary" onclick='this.form.submit();'>Ya, mulai</button>
									</form>
			</div>

			{% else %}
			<div class="modal-footer">
				<strong>Anda telah menyelesaikan Quiz</strong>
			</div>
			{% endif %}
		</div>
	</div>
</div>
</div>
{% endif %}
{% endfor %}


<style>
	.plan{
		
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
    color: white;
    word-break: break-word;
    background-color: #82806c;
    padding-bottom: 1rem;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
	}
	.container{

	}
	.judul {
		    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
	}
	.col-12.col-md-6.align-center.col-lg-4 {
    margin: 0 auto;
}
	.plan-title{
		justify-content: center;
	}
	.display-5 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-4, .display-5, .display-7, span, p, a {
    font-weight: 400;
}
	.cid-sFF7wKlLkT {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: #eae7dc;
}
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}
<!-- Demo styles -->
<style>
    .cid-sFF75ZhH2d .mbr-section-title {
    color: #a3a284;
}

h6.plan-title.mbr-fonts-style.mb-3.display-5 {
    padding-bottom: 2rem;
    text-align: center;
}
    .cid-sFF7wKlLkT{
        background-color: white;
    }
    .cid-sFF7wKlLkT .plan-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}
.plan:hover {
    transform: scale(0.9);
}
.cid-sFF7wKlLkT .plan {
    transition: all 0.2s ease-in-out;

    border-radius: 20px;
    color: white;
    word-break: break-word;
    background-color: #82806c;
}
.mbr-section-head {
    margin-bottom: 50px;
}.cid-sFF3kfZheU H3 {
    color: #a3a284 !important;
}
</style>
{% endblock %}